@using BackendProject_Allup.Helpers

@model PagedList<Product>
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->

    <!--====== Shop Left sidebar Part Start ======-->

    <section class="shop-area pt-20">
        <div class="container-fluid custom-container">
            <div class="row flex-md-row-reverse justify-content-end">
                <div class="col-lg-9">
                    <div class="banner-image banner-2 mt-30">
                        <img src="~/assets/images/banner-13.jpg" alt="banner">
                    </div> <!-- banner image -->

                    <div class="shop-header">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <div class="shop-header-left d-flex flex-wrap align-items-center">
                                    <div class="shop-header-icon">
                                        <ul class="nav" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="active" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="true"><i class="icon ion-grid show_grid"></i></a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i class="icon ion-android-menu show_list"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="shop-header-message">
                                        <p>Showing 1 to 9 of 15 (2 Pages)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="shop-header-right d-flex flex-wrap align-items-center justify-content-sm-end">
                                    <div class="shop-header-select d-flex flex-wrap">
                                        <span class="select-title">Show:</span>
                                        <select>
                                            <option value="1">10</option>
                                            <option value="2">20</option>
                                            <option value="3">30</option>
                                            <option value="4">40</option>
                                        </select>
                                    </div>
                                    <div class="shop-header-select">
                                        <span class="select-title">Sort By:</span>
                                        <select>
                                            <option value="1">Default</option>
                                            <option value="2">Name (A-Z)</option>
                                            <option value="3">Price (min - max)</option>
                                            <option value="4">Color</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> 
                    
                    <!-- shop header -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                            <div class="row">
                               @foreach (var item in Model)
                               {
                                    <div class="product-col col-md-4 col-sm-6">
                                    <div class="single-product mt-30">
                                        <div class="product-image">
                                            <a asp-action="detail" asp-route-id="@item.Id">
                                              
                                                    <img class="first-image" src="~/assets/@item.ProductImages.Find(p=>p.IsMain).ImageUrl" alt="product">
                                            
                                            </a>
                                            <ul class="product-meta">
                                                <li><a asp-controller="dbbasket" asp-action="additem" asp-route-id="@item.Id"><i class="icon ion-bag"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                                <li><a asp-action="detail" asp-route-id="@item.Id"><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                            <span class="discount-product">10%</span>
                                        </div>
                                        <div class="product-content">
                                            <h4 class="product-title"><a href="single-product.html">@item.Name</a></h4>
                                            <ul class="product-rating">
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                            </ul>                                            
                                            <div class="product-price">
                                                <span class="regular-price">€@item.Price</span>
                                                <span class="price-sale">€@item.DiscountPrice</span>
                                            </div>
                                        </div>
                                    </div> <!-- single product -->
                                </div>
                               }
                            </div> <!-- row -->
                        </div>
                        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                           @foreach (var item in Model)
                           {
                                <div class="single-product-list mt-30">
                                <div class="row">
                                    <div class="col-sm-5 col-xl-3">
                                        <div class="product-image">
                                            <a asp-action="detail" asp-route-id="@item.Id">
                                                    <img class="first-image" src="~/assets/@item.ProductImages.Find(p=>p.IsMain).ImageUrl" alt="product">

                                            </a>
                                            <span class="discount-product">-12%</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-xl-9">
                                        <div class="product-content">
                                            <ul class="product-rating">
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                            </ul>
                                            <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                            <span class="availability">Availability: @item.StockCount In Stock</span>
                                            <div class="product-price">
                                                <span class="regular-price">€@item.Price</span>
                                                <span class="price-sale">€@item.DiscountPrice</span>
                                            </div>
                                            <p> @item.Description </p>
                                            <ul class="product-meta">
                                                <li><a asp-controller="dbbasket" asp-action="additem" asp-route-id="@item.Id"><i class="icon ion-bag"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                                <li><a asp-action="detail" asp-route-id="@item.Id" ><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                           }
                            
                            
                            <!-- single product List -->
                        </div>
                    </div> <!-- Tab Content -->
                    
                    
                    <ul class="pagination justify-content-center mt-30">
                        <li class=""><a asp-route-page="@(Model.CurrentPage-1)" ><i class="fal fa-chevron-left "></i></a></li>

                        @for (var i = 1; i <= @Model.TotalPage; i++)
                        {
                            <li class="@(Model.CurrentPage==@i?"active":"")">
                                <a asp-route-page="@i">@i</a></li>
                        }
                        
                        <li class=""><a asp-route-page="@(Model.CurrentPage+1)" class="@(Model.CurrentPage==Model.TotalPage?"disabled":"")"><i class="fal fa-chevron-right "></i></a></li>
                    </ul>
                </div>
                
                <div class="col-lg-3">
                    <div class="shop-sidebar">
                        <div class="shop-sidebar-widget mt-30">
                            <h5 class="shop-sidebar-title">Laptop</h5>
                            <div class="accordion" id="accordionExample">
                                @foreach (var item in ViewBag.ParentCategories as List<Category>)
                            {
                                
                                 <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <a asp-controller="shop" asp-action="SortByCategoryName" asp-route-categoryid="@item.Id" data-toggle="collapse" data-target="#@item.Name[0]"
                                            aria-expanded="true" aria-controls="collapseOne">@item.Name</a>
                                    </div>

                                   
                                        <div id="@item.Name[0]" class="collapse show" 
                                            aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul class="category-list">
                                                 @foreach (var child in ViewBag.ChildrenCategories as List<Category>)
                                    {
                                                    if (@child.ParentId == item.Id)
                                                    {
                                                        <li><a asp-controller="shop" asp-action="SortByCategoryName" asp-route-categoryid="@child.Id">@child.Name</a></li>
                                                    }
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                    </div> <!-- card -->
                                    
                                }
                            

                            </div> <!-- accordion -->
                        </div> <!-- Shop sidebar Category -->

                        

                        <div class="shop-sidebar-widget mt-30">
                            <h5 class="shop-sidebar-title">Price </h5>
                           <form method="post" asp-action="sortbyprice">

                                <div class="price-range">
                                    <label for="minrange" class="form-label">Min: <span id="minvalue"></span> </label><br />
                                    <input type="range" min="0" max="1000" name="minrange" class="form-range" id="minrange">
                                </div>
                                <div class="price-range">
                                    <label for="maxrange" class="form-label">Max: <span id="maxvalue"></span>  </label><br />
                                    <input name="maxrange"min="0" max="1000" type="range" class="form-range" id="maxrange">
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Sort</button>
                           </form>
                        </div> <!-- Shop sidebar color -->

                    

                        <div class="banner-image banner-2 mt-30">
                            <a href="#"><img src="~/assets/images/banner-10.jpg" alt="banner"></a>
                        </div> <!-- banner image -->
                    </div> <!-- Shop sidebar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Shop Left sidebar Part Ends ======-->

    <!--====== Brand Part Start ======-->

    <div class="brand-area pt-80">
        <div class="container-fluid custom-container">
            <div class="row brand-active">
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-1.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-2.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-3.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-5.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-6.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== Brand Part Ends ======-->

    <!--====== Features Banner Part Start ======-->

    <section class="features-banner-area pt-80 pb-100">
        <div class="container-fluid custom-container">
            <div class="features-banner-wrapper d-flex flex-wrap">
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/assets/images/banner-icon/icon1.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">Free Shipping</h3>
                        <p>Free shipping on all US order</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/assets/images/banner-icon/icon2.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">Support 24/7</h3>
                        <p>Contact us 24 hours a day</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/assets/images/banner-icon/icon3.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">100% Money Back</h3>
                        <p>You have 30 days to Return</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/assets/images/banner-icon/icon4.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">90 Days Return</h3>
                        <p>If goods have problems</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/assets/images/banner-icon/icon5.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">Payment Secure</h3>
                        <p>We ensure secure payment</p>
                    </div>
                </div> <!-- single features banner -->
            </div> <!-- features banner wrapper -->
        </div> <!-- container -->
    </section>

    <!--====== Features Banner Part Ends ======-->




                @section Scripts{

                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                     <script>

                     let minrange = document.getElementById("minrange");
                     let minvalue = document.getElementById("minvalue");
                     minrange.addEventListener("change",function(e){
                         minvalue.innerHTML = e.target.value;

                     })

                      let maxrange = document.getElementById("maxrange");
                     let maxvalue = document.getElementById("maxvalue");
                     maxrange.addEventListener("change",function(e){
                         maxvalue.innerHTML = e.target.value;

                     })

                 </script>
                }