@model MyAccountVM

@{ 
    int count = 0;
}

  <section class="my-account-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="my-account-menu mt-30">
                        <ul class="nav account-menu-list flex-column nav-pills" id="pills-tab" role="tablist">
                            <li>
                              <a class="active" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab" aria-controls="pills-dashboard" aria-selected="true"><i class="far fa-tachometer-alt-fast"></i> Dashboard</a>
                            </li>
                            <li>
                              <a id="pills-order-tab" data-toggle="pill" href="#pills-order" role="tab" aria-controls="pills-order" aria-selected="false"><i class="far fa-shopping-cart"></i> Order</a>
                            </li>
                            <li>
                              <a id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-payment" aria-selected="false"><i class="fal fa-credit-card"></i> Payment Method</a>
                            </li>
                            <li>
                              <a id="pills-address-tab" data-toggle="pill" href="#pills-address" role="tab" aria-controls="pills-address" aria-selected="false"><i class="far fa-map-marker-alt"></i> Address</a>
                            </li>
                            <li>
                              <a id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false"><i class="far fa-user"></i> Account Details</a>
                            </li>
                            <li>
                                <a asp-controller="account" asp-action="logout"><i class="far fa-sign-out-alt"></i> Logout</a>
                            </li>
                          </ul>
                    </div>
                </div>

                @*order  ______________/////////////////////////////////////////////*@


                <div class="col-xl-8 col-md-8">
                    <div class="tab-content my-account-tab mt-30" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
                            <div class="my-account-dashboard account-wrapper">
                                <h4 class="account-title">Dashboard</h4>
                                <div class="welcome-dashboard">
                                    <p>Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni !</strong> <a href="#">Logout</a> )</p>
                                </div>
                                <p class="mt-25">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                            <div class="my-account-order account-wrapper">
                                <h4 class="account-title">Orders</h4>
                                <div class="account-table text-center mt-30 table-responsive">
                                    <table class="table">
                                        <thead>
                <tr>
                    <th class="no">No</th>
                    <th class="name">Tracking No</th>
                    <th class="date">Date</th>
                    <th class="date">Country</th>
                    <th class="date">Adress</th>
                    <th class="status">Status</th>
                    <th class="date">Payment</th>
                    <th class="total">Total</th>
                    <th class="action">Action</th>
                </tr>
            </thead>
                                          <tbody>
                @foreach (var item in Model.Orders as List<Order>)
                {
                    count++;
                <tr>
                    <td>@count</td>
                    <td>@item.TrackingNo</td>
                    <td>@item.CreatedAt.Value.Date.ToLongDateString()</td>
                    <td>@item.Country / @item.City</td>
                    <td>@item.Address</td>
                    <td>@item.OrderStatus</td>
                    <td>@item.PaymantMethod</td>
                    <td>$@String.Format("{0:0.00}", item.TotalPrice)</td>
                    <td><a asp-controller="order" asp-action="orderdetail" asp-route-id="@item.Id">View</a></td>
                </tr>
                }
            </tbody>
                                     </table>
                                </div>
                            </div>
                        </div>
                      
                        <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                            <div class="my-account-payment account-wrapper">
                                <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                                    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                    <!------ Include the above in your HEAD tag ---------->

                                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


                                    <div class="container">

                                    <div class="row">
	                                    <aside class="col-sm-6">
                                   


	                                    </aside> <!-- col.// -->
	                                    <aside class="col-12">
                                  

                                    <article class="card">
                                    <div class="card-body p-5">

                                    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
	                                    <li class="nav-item">
		                                    <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
		                                    <i class="fa fa-credit-card"></i> Credit Card</a></li>
	                                    <li class="nav-item">
		                                    <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
		                                    <i class="fab fa-paypal"></i>  Paypal</a></li>
	                                    <li class="nav-item">
		                                    <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
		                                    <i class="fa fa-university"></i>  Bank Transfer</a></li>
                                    </ul>

                                    <div class="tab-content">
                                    <div class="tab-pane fade show active" id="nav-tab-card">
	                                    
	                                    <form method="post" asp-action="payment" enctype="multipart/form-data">
	                                    <div class="form-group">
		                                    <label for="username">Amount you want to pay</label>
		                                    <input type="text" class="form-control" name="Amount" placeholder="Amount">
	                                    </div> 
                                        
                                        <div class="form-group">
		                                    <label for="username">Full name (on the card)</label>
		                                    <input type="text" class="form-control" name="Fullname" placeholder="Fullname" required="">
	                                    </div> <!-- form-group.// -->

	                                    <div class="form-group">
		                                    <label for="cardNumber">Card number</label>
		                                    <div class="input-group">
			                                    <input type="text" class="form-control" name="CardNumber" placeholder="0000 0000 0000 0000">
			                                    <div class="input-group-append">
				                                    <span class="input-group-text text-muted">
					                                    <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
					                                    <i class="fab fa-cc-mastercard"></i> 
				                                    </span>
			                                    </div>
		                                    </div>
	                                    </div> <!-- form-group.// -->

	                                    <div class="row">
	                                        <div class="col-sm-8">
	                                            <div class="form-group">
	                                                <label><span class="hidden-xs">Expiration</span> </label>
	        	                                    <div class="input-group">
	        		                                    <input type="number" class="form-control" placeholder="MM" name="Month">
		                                                <input type="number" class="form-control" placeholder="YY" name="Month">
	        	                                    </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-sm-4">
	                                            <div class="form-group">
	                                                <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
	                                                <input type="number" name="CVV" class="form-control" required="" placeholder="***">
	                                            </div> <!-- form-group.// -->
	                                        </div>
	                                    </div> <!-- row.// -->
	                                    <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm  </button>
	                                    </form>
                                    </div> <!-- tab-pane.// -->
                                    <div class="tab-pane fade" id="nav-tab-paypal">
                                    <p>Paypal is easiest way to pay online</p>
                                    <p>
                                    <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
                                    </p>
                                    <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                    <div class="tab-pane fade" id="nav-tab-bank">
                                    <p>Bank accaunt details</p>
                                    <dl class="param">
                                      <dt>BANK: </dt>
                                      <dd> THE WORLD BANK</dd>
                                    </dl>
                                    <dl class="param">
                                      <dt>Accaunt number: </dt>
                                      <dd> 12345678912345</dd>
                                    </dl>
                                    <dl class="param">
                                      <dt>IBAN: </dt>
                                      <dd> 123456789</dd>
                                    </dl>
                                    <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </div> <!-- tab-pane.// -->
                                    </div> <!-- tab-content .// -->

                                    </div> <!-- card-body.// -->
                                    </article> <!-- card.// -->


	                                    </aside> <!-- col.// -->
                                    </div> <!-- row.// -->

                                    </div> 
                                    <!--container end.//-->

                                    </article>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
                            <div class="my-account-address account-wrapper">
                                <h4 class="account-title">Payment Method</h4>
                                <div class="account-address mt-30">
                                    <h6 class="name">Alex Tuntuni</h6>
                                    <p>1355 Market St, Suite 900 <br> San Francisco, CA 94103</p>
                                    <p>Mobile: (123) 456-7890</p>
                                    <a class="main-btn main-btn-2" href="#"><i class="far fa-edit"></i> Edit Address</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                            <div class="my-account-details account-wrapper">
                                <h4 class="account-title">Account Details</h4>

                                <div class="account-details">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <input type="text" placeholder="Display Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <input type="text" placeholder="Email address">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <h5 class="title">Password change</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <input type="password" placeholder="Current Password">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="password" placeholder="New Password">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="password" placeholder="Confirm Password">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <button class="main-btn main-btn-2">Save Change</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
